# .github/workflows/test.yml
# On every pull request and every push to master, run `yarn test`

name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - run: yarn install
      - run: yarn test
